.black {
    color: black;
}

/* INICIO SECTION TITULO CALENDARIO */
.tituloCalendario {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 50px;
    gap: 30px;

    .titulo {
        font-size: 30px;
        font-weight: bold;
        color: black;
    }
    .imagenCalendario {
        display: flex;
        width: auto;

        img {
            width: 100%;
            height: auto;
            border: 2px solid white;
        }
    }
    
}

/* INICIO SECTION ENCABEZADOS CALENDARIO */
.encabezadosCalendario {
    margin-top: 50px;
    
    h2 {
    margin-left: 10px;
    color: black;
    font-size: 30px;
    }
}
/* FIN SECTION ENCABEZADOS CALENDARIO */

/* INICIO SECTION BOMBOS */
.bombos {
    display: flex;
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
    flex-wrap: wrap;
    overflow-x: auto;

    ul {
        font-size: 15px;
    }
}
/* FIN SECTION BOMBOS */

/* INICIO SECTION TITULO GRUPOS */
.tituloGrupos {
    margin-top: 50px;

    h2 {
        margin-left: 10px;
        margin-right: 10px;
        color: black;
        font-size: 30px;
        max-width: 800px;
    }
}
/* FIN SECTION TITULO GRUPOS */

/* INICIO SECTION PARTIDOS */
.partidos {
    display: flex;
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px;
    flex-wrap: wrap;
    overflow-x: auto;
    color: black;
    font-size: 15px;

    h3 {
        font-size: 30px;
        margin-bottom: 10px;
    }

    .grupos {
        margin-top: 20px;
        margin-left: 10px;
    }
}
/* FIN SECTION PARTIDOS */

/* INICIO SECTION CRONOGRAMA */

.cronogramaContainer {
    margin-top: 50px;
    display: flex;
    width: auto;
    margin-left: 40px;
    margin-right: 40px;

    .cronogramaItems {
        display: flex;
        width: auto;

        img {
            display: flex;
            width: 100%;
            border: 2px solid black;
        }
    }
}

@media (min-width: 768px) {

    .encabezadosCalendario h2{
        margin-left: 20px;
    }

    .bombos {
        display: flex;
        margin-top: 50px;
        margin-left: 20px;
        margin-right: inherit;
        flex-wrap: wrap;
        overflow-x: auto;
    }

    .tituloGrupos {
        h2 {
            margin-left: 20px;
        }
    }

    .partidos {
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        margin-left: 20px;
        margin-right: auto;
        flex-wrap: wrap;
        overflow-x: auto;

        .grupos {
            margin-top: 20px;
            margin-left: 0px;
        }
    }
}

@media (min-width: 992px) {
    /* INICIO SECTION TITULO CALENDARIO */
    .tituloCalendario {
        display: flex;
        flex-direction: column;
        width: 800px;
        height: auto;
        margin-left: 40px;
        margin-top: 50px;
        gap: 30px;

        .titulo {
            font-size: 40px;
            font-weight: bold;

            .imagenCalendario {
                display: flex;

                img {
                    width: 800px;
                    height: 500px;
                }
            }
        }
    }

    .encabezadosCalendario h2{
        margin-left: 40px;
    }

    .bombos {
        margin-left: 40px;
        margin-top: 50px;
        flex-direction: column;
    }
    
    .tituloGrupos {
        margin-top: 50px;

        h2 {
            margin-left: 40px;
        }
    }

    .partidos {
        margin-left: 40px;
        margin-top: 50px;
        flex-direction: column;

        .grupos {
            margin-top: 20px;
        }
    }

    .cronogramaContainer {
        justify-content: center;
    }
}