@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Rubik:wght@300&display=swap');
/* ESTILOS GENERALES */
*{
    padding: 0;
    margin: 0;
}

body {
    background-color: #d35f75
}
.ancho {
    max-width: 1100px;
}
.anchoItems {
    width: 3px;
}

.anchoItems2 {
    width: 50px;
}
.ancho1 {
    width: 80px;
}
.ancho2 {
    width: 120px;
}
.ancho3 {
    width: 150px;
}
.ancho4 {
    width: 110px;
}
.ancho5 {
    width: 240px;
}
.ancho6 {
    width: 100px;
}
.ancho7 {
    width: 200px;
}
.ancho8 {
    width: 180px;
}

.carrusel {
    margin-top: 100px;
    margin-left: 20px;
    margin-bottom: 100px;
    margin-right: 20px;
}

.carrusel h2 {
    color: black;
    font-size: 35px;
}