@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Rubik:wght@300&display=swap');
/* ESTILOS GENERALES */
*{
    padding: 0;
    margin: 0;
}
html {
    font-size: 62.5%;
}
body {
    background-color: #ffffff
}
.ancho {
    max-width: 1100px;
}
.anchoItems {
    width: 3px;
}

.anchoItems2 {
    width: 50px;
}
.ancho1 {
    width: 80px;
}
.ancho2 {
    width: 120px;
}
.ancho3 {
    width: 150px;
}
.ancho4 {
    width: 110px;
}
.ancho5 {
    width: 240px;
}
.ancho6 {
    width: 100px;
}
.ancho7 {
    width: 200px;
}
.ancho8 {
    width: 180px;
}
.favicon {
    border-radius: 50%;
}