/* DECLARAR AREAS */

div#noticias {
    grid-area: noticias;
}

/* INICIO SECTION NOTICIAS */

/* GRILLA */

#grilla {
    display: grid;
    height: 100%;
    width: 100%;
    margin-top: 30px;
    align-items: center;
    grid-template-areas:
    "noticias"
    "noticias"
    "noticias"
    "noticias"
    "noticias"
    "noticias"
    "noticias"
    "noticias"
    "noticias";

    grid-template-columns: 1fr;
    grid-template-rows: 210px 210px 210px 210px 210px 210px 210px 210px 210px;
    gap: 20px;
}

/* FIN SECTION NOTICIAS */
.noticias {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    justify-content: center;
}
.noticiasItems {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    justify-content: center;

    h2 {
        font-size: 40px;
        color: black;
    }
}

/* FIN SECTION NOTICIAS */

@media (min-width: 768px) {

    /* INICIO SECTION NOTICIAS */

    /* GRILLA */

    #grilla {
        display: grid;
        height: 100%;
        width: 700px;
        margin-top: 30px;
        align-items: center;
        grid-template-areas:
        "noticias noticias noticias"
        "noticias noticias noticias"
        "noticias noticias noticias";

        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 210px 210px 210px;
        gap: 20px;

        /* FIN SECTION NOTICIAS */
    }

    
    .noticias {
        margin-top: 100px;
        margin-left: 30px;
    }

    .noticiasItems {
        h2 {
            font-size: 80px;
        }
    }

}