/* INICIO SECTION CABEZADOS INFRAESTRUCTURA */
#encabezadosInfraestructura {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    background-image: url(../img/soccer-football-field-stadium.jpg);
    background-position-x: left;
    background-position-y: 15%;
    background-size: cover;
    background-repeat: no-repeat;

    #encabezados {
        display: flex;
        flex-direction: column;
        color: rgb(255, 255, 255);
        gap: 10px;
        font-weight: bold;

        h1 {
            font-size: 3rem;
            margin-left: 1rem;
            margin-right: 1rem;
            margin-top: 10rem;
        }

        h2 {
            font-size: 2rem;
            margin-left: 1rem;
            margin-right: 1rem;
            margin-top: 2rem;
        }
    }
}
/* FIN SECTION CABEZADOS INFRAESTRUCTURA */

/* INICIO SECTION TEXTO UNO INFRAESTRUCTURA */
#textoUnoInfraestructura {
    display: flex;
    flex-direction: row;
    margin: 5rem 1rem;
    font-size: 1.7rem;
    line-height: 3.0rem;
    color: rgb(45, 44, 44);
    max-width: 650px;

    #textoUno {
        display: flex;
        flex-direction: column;
    }
}
/* FIN SECTION TEXTO UNO INFRAESTRUCTURA */

/* INICIO SECTION LISTADO ESTADIOS */
#listadoEstadiosContainer {
    display: flex;
    flex-direction: row;
    margin-left: 1rem;
    margin-right: 1rem;
    max-width: 650px;

    .listadoEstadios {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 7rem;

        li {
            text-align: left;
            color: black;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            list-style-type: none;

            .nombreEstadios {
                font-size: 3rem;
                font-weight: 400;
            }

            div {
                display: flex;
                flex-direction: row;
                width: 100%;

                img {
                    width: 100%;
                    height: 100%;
                    border: 0.5rem ridge #AB374C;
                    margin: 0.5rem 0;
                }
            }

            .parrafosImagenes {
                display: flex;
                font-size: 15px;
                line-height: 3rem;
                max-width: 600px;
                font-family: 'Rubik';
                font-weight: 600;
            }
        
        }
    }
}
/* FIN SECTION LISTADO ESTADIOS */

/* INICIO TEXTO DOS INFRAESTRUCTURA */
#textoDosInfraestructura {
    display: flex;
    flex-direction: row;
    font-size: 1.7rem;
    line-height: 3.0rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 5rem;
    color: rgb(45, 44, 44);
    max-width: 650px;

    #textoDos {
        display: flex;
        flex-direction: column;
    }
}
/* FIN TEXTO DOS INFRAESTRUCTURA */

/* INICIO SECTION DATOS QATAR */
#datosQatar {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-left: 1rem;
    margin-right: 1rem;

    h3 {
        font-size: 3rem;
    }

    #datos {
        display: flex;
        flex-direction: column;
        font-size: 1.5rem;
        gap: 2rem;

        .listaQatar {
            display: flex;
            flex-direction: column;
            gap: 2rem;
            margin-left: 10px;
            margin-right: 10px;
        }
    }
}

@media (min-width: 768px) {
    #encabezadosInfraestructura {
        #encabezados {
            h1 {
                margin-left: 50px;
                margin-right: 50px;
            }
            h2 {
                margin-left: 50px;
                margin-right: 50px;
            }
        }
    }
    #textoUnoInfraestructura {
        margin-left: 50px;
        margin-right: 50px;
        font-size: 2.0rem;
        line-height: 4rem;
    }
    #listadoEstadiosContainer {
        margin-left: 50px;
        margin-right: 50px;

        #listadoEstadios {
            li {
                .nombreEstadios {
                    font-size: 2rem;
                }
                .parrafosImagenes {
                    font-size: 60px;
                }
            }
        }
    }
    #textoDosInfraestructura {
        margin-left: 50px;
        margin-right: 50px;
        font-size: 2.0rem;
        line-height: 4rem;
    }
    #datosQatar {
        margin-left: 50px;
        margin-right: 50px;
    }
}