/* INICIO NAV */

.logo {
    border-radius: 30%;
    height: 70px;
    width: 70px;
}

.navContainer {
    font-size: 20px;
    gap: 50px;
    background-color: #AB374C;
    // border-bottom: 2px solid black;
}

.navbar-light .navbar-nav .nav-link.active {
    color: white;
    font-weight: bold;
}

.navGap {
    gap: 15px;
}

/* FIN NAV */

@media (min-width: 992px) {

    /* NAV */
    .link1:hover,
    .link2:hover,
    .link3:hover,
    .link4:hover,
    .link5:hover {
        background-color: #d35f75;
        border-radius: 5%;
    }

    .navGap {
        gap: 40px;
    }
    /* NAV */
}