.sponsors {
    display: none
}

@media (min-width: 992px) {
    .sponsors {
        display: flex;
        flex-direction: row;
        background-color: rgb(255, 255, 255);
        height: 125px;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
    }

    .sponsorsItems {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .imgSponsor {
        align-items: center;
        width: 145px;
        height: 100px;
    }

    .imgSponsor img {
        width: 145px;
        height: 100px;
        align-items: center;
    }

    .imgSponsorVisa img {
        width: 145px;
        height: 70px;
    }
}

