@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Rubik:wght@300&display=swap');
/* ESTILOS GENERALES */
*{
    padding: 0;
    margin: 0;
}

body {
    background-color: aquamarine;
}
.ancho {
    max-width: 1100px;
}
.anchoItems {
    width: 3px;
}

.anchoItems2 {
    width: 50px;
}
.ancho1 {
    width: 80px;
}
.ancho2 {
    width: 120px;
}
.ancho3 {
    width: 150px;
}
.ancho4 {
    width: 110px;
}
.ancho5 {
    width: 240px;
}
.ancho6 {
    width: 100px;
}
.ancho7 {
    width: 200px;
}
.ancho8 {
    width: 180px;
}

/* INICIO NAV */

.logo {
    border-radius: 30%;
}

.navContainer {
    font-size: 20px;
    gap: 50px;
}

/* FIN NAV */

.carrusel {
    margin-top: 100px;
    margin-left: 20px;
    margin-bottom: 100px;
    margin-right: 20px;
}

/* INICIO FOOTER */

.footerContainer {
    display: flex;
    flex-direction: row;
    background-color: green;
    height: 170px;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.footerItems {
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.redes {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.copyright {
    align-items: center;
}

/* FIN FOOTER */

/* DECLARAR AREAS */

div#noticias {
    grid-area: noticias;
}

/* -------- INDEX.HTML -------- */

/* INICIO SECTION NOTICIAS */

.noticias {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    justify-content: center;
}
.noticiasItems {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    justify-content: center;
}

/* GRILLA */

#grilla {
    display: grid;
    height: 100%;
    width: 100%;
    margin-top: 30px;
    align-items: center;
    grid-template-areas:
    "noticias"
    "noticias"
    "noticias"
    "noticias"
    "noticias"
    "noticias"
    "noticias"
    "noticias"
    "noticias";

    grid-template-columns: 1fr;
    grid-template-rows: 210px 210px 210px 210px 210px 210px 210px 210px 210px;
    gap: 20px;
}

/* FIN SECTION NOTICIAS */

.banderasContainer {
    display: none;
}
.sponsors {
    display: none
}

/* ------- CALENDARIO.HTML ----------- */

/* INICIO SECTION TITULO CALENDARIO */
.tituloCalendario .titulo {
    margin-top: 50px;
    margin-left: 10px;
    font-weight: bold;
    font-size: 30px;
}
.tituloCalendario .imagenCalendario {
    display: none;
}
/* FIN SECTION TITULO CALENDARIO */

/* INICIO SECTION ENCABEZADOS CALENDARIO */
.encabezadosCalendario {
    background-color: darksalmon;
    margin-top: 50px;
}
.encabezadosCalendario h2{
    margin-left: 10px;
}
/* FIN SECTION ENCABEZADOS CALENDARIO */

/* INICIO SECTION BOMBOS */
.bombos {
    display: flex;
    margin-top: 50px;
    margin-left: 10px;
    margin-right: auto;
    flex-wrap: wrap;
    overflow-x: auto;
}
/* FIN SECTION BOMBOS */

/* INICIO SECTION TITULO GRUPOS */
.tituloGrupos {
    margin-top: 50px;
}
.tituloGrupos h2 {
    margin-left: 10px;
}
/* FIN SECTION TITULO GRUPOS */

/* INICIO SECTION PARTIDOS */
.partidos {
    display: flex;
    margin-top: 50px;
    margin-left: 10px;
    margin-right: auto;
    flex-wrap: wrap;
    overflow-x: auto;
}

.grupos {
    margin-top: 20px;
    margin-left: 10px;
}
/* FIN SECTION PARTIDOS */

/* INICIO SECTION CRONOGRAMA */

.cronogramaContainer {
    display: none;
}
.cronogramaItems {
    display: none
}

/* FIN SECTION CRONOGRAMA */

@media (min-width: 768px) {

    /* --------- INDEX.HTML -------- */
    /* INICIO DIV BANDERAS */
    .banderasContainer {
        display: flex;
        flex-direction: row;
        background-color: gold;
        height: 100px;
        margin-top: 50px;
    }
    /* FIN DIV BANDERAS */
    /* INICIO SECTION NOTICIAS */

    .noticias {
        margin-top: 30px;
        margin-left: 30px;
    }

    /* GRILLA */

    #grilla {
    display: grid;
    height: 100%;
    width: 700px;
    margin-top: 30px;
    align-items: center;
    grid-template-areas:
    "noticias noticias noticias"
    "noticias noticias noticias"
    "noticias noticias noticias";

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 210px 210px 210px;
    gap: 20px;
    }
    /* FIN SECTION NOTICIAS */

    /* -------- CALENDARIO.HTML ---------- */

    /* INICIO SECTION ENCABEZADOS CALENDARIO */
    .encabezadosCalendario {
        background-color: darksalmon;
        margin-top: 50px;
    }
    .encabezadosCalendario h2{
        margin-left: 20px;
    }
    /* FIN SECTION ENCABEZADOS CALENDARIO */
    .tituloCalendario .imagenCalendario {
        display: flex;
        width: auto;
        height: 300px;
        justify-content: center;
        margin-top: 50px;
    }
    /* INICIO SECTION BOMBOS */
    .bombos {
        display: flex;
        margin-top: 50px;
        margin-left: 20px;
        margin-right: auto;
        flex-wrap: wrap;
        overflow-x: auto;
    }
    /* FIN SECTION BOMBOS */
    /* INICIO SECTION TITULO GRUPOS */

    .tituloGrupos h2 {
        margin-left: 20px;
    }
    /* FIN SECTION TITULO GRUPOS */
    /* INICIO SECTION PARTIDOS */
    .partidos {
        display: flex;
        margin-top: 50px;
        margin-left: 20px;
        margin-right: auto;
        flex-wrap: wrap;
        overflow-x: auto;
    }
    
    .grupos {
        margin-top: 20px;
        margin-left: 0px;
    }
    /* FIN SECTION PARTIDOS */
}

@media (min-width: 992px) {


    /* NAV */
    .link1:hover,
    .link2:hover,
    .link3:hover,
    .link4:hover,
    .link5:hover {
        background-color: rgb(141, 141, 234);
        transition: 0.5s;
    }
    /* NAV */

    /* INCIO SECTION SPONSORS */

    .sponsors {
    display: flex;
    flex-direction: row;
    background-color: rgb(215, 72, 72);
    height: 125px;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    }

    .sponsorsItems {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    }

    /* -------- CALENDARIO.HTML ----------- */

    /* INICIO SECTION TITULO CALENDARIO */
    .tituloCalendario {
    display: flex;
    flex-direction: column;
    font-size: 32px;
    width: 800px;
    font-weight: bold;
    margin-left: 40px;
    margin-top: 50px;
    gap: 30px;
    }
    .tituloCalendario .titulo {
        margin-left: 0px;
        font-size: 40px;
    }
    .tituloCalendario .imagenCalendario {
        display: flex;
        height: auto;
    }
    /* FIN SECTION TITULO CALENDARIO */

    /* INICIO SECTION ENCABEZADOS CALENDARIO */
    .encabezadosCalendario {
        background-color: darksalmon;
        margin-top: 50px;
    }
    .encabezadosCalendario h2{
        margin-left: 40px;
    }
    /* FIN SECTION ENCABEZADOS CALENDARIO */

    /* INICIO SECTION BOMBOS */
    .bombos {
        margin-left: 40px;
        margin-top: 50px;
        flex-direction: column;
    }
    /* FIN SECTION BOMBOS */

    /* INICIO SECTION TITULO GRUPOS */
    .tituloGrupos {
        margin-top: 50px;
    }
    .tituloGrupos h2 {
        margin-left: 40px;
    }
    /* FIN SECTION TITULO GRUPOS */

    /* INICIO SECTION PARTIDOS */
    .partidos {
        margin-left: 40px;
        margin-top: 50px;
        flex-direction: column;
    }

    .grupos {
        margin-top: 20px;
    }
    /* FIN SECTION PARTIDOS */

    /* INICIO SECTION CRONOGRAMA */

    .cronogramaContainer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 50px;
    }
    .cronogramaItems {
        display: flex;
        flex-direction: row;
        border: 2px solid black;
    }

    /* FIN SECTION CRONOGRAMA */
}