@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Rubik:wght@300&display=swap");
/* ESTILOS GENERALES */
* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #ffffff;
}

.ancho {
  max-width: 1100px;
}

.anchoItems {
  width: 3px;
}

.anchoItems2 {
  width: 50px;
}

.ancho1 {
  width: 80px;
}

.ancho2 {
  width: 120px;
}

.ancho3 {
  width: 150px;
}

.ancho4 {
  width: 110px;
}

.ancho5 {
  width: 240px;
}

.ancho6 {
  width: 100px;
}

.ancho7 {
  width: 200px;
}

.ancho8 {
  width: 180px;
}

.favicon {
  border-radius: 50%;
}

/* INICIO NAV */
.logo {
  border-radius: 30%;
  height: 70px;
  width: 70px;
}

.navContainer {
  font-size: 20px;
  gap: 50px;
  background-color: #AB374C;
}

.navbar-light .navbar-nav .nav-link.active {
  color: white;
  font-weight: bold;
}

.navGap {
  gap: 15px;
}

/* FIN NAV */
@media (min-width: 992px) {
  /* NAV */
  .link1:hover,
.link2:hover,
.link3:hover,
.link4:hover,
.link5:hover {
    background-color: #d35f75;
    border-radius: 5%;
  }

  .navGap {
    gap: 40px;
  }

  /* NAV */
}
.logoDatos {
  width: 40px;
  height: 40px;
}

/* INICIO FOOTER */
.footerContainer {
  display: flex;
  flex-direction: row;
  background-color: #AB374C;
  height: 170px;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  border-top: 2px solid black;
}
.footerContainer .footerItems {
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.footerContainer .footerItems .copyright {
  align-items: center;
  color: black;
}
.footerContainer .footerItems .redes {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

/* FIN FOOTER */
@media (min-width: 768px) {
  /* INICIO FOOTER */
  .footerContainer .footerItems {
    font-size: 15px;
  }
  .footerContainer .footerItems .redes {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
  }

  /* FIN FOOTER */
}
/* INICIO SECTION TITULO CALENDARIO */
.tituloCalendario {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 50px;
  gap: 30px;
}
.tituloCalendario .titulo {
  font-size: 30px;
  font-weight: bold;
  color: black;
}
.tituloCalendario .imagenCalendario {
  display: flex;
  width: auto;
}
.tituloCalendario .imagenCalendario img {
  width: 100%;
  height: auto;
  border: 2px solid white;
}

/* INICIO SECTION ENCABEZADOS CALENDARIO */
.encabezadosCalendario {
  margin-top: 50px;
}
.encabezadosCalendario h2 {
  margin-left: 10px;
  color: black;
}

/* FIN SECTION ENCABEZADOS CALENDARIO */
/* INICIO SECTION BOMBOS */
.bombos {
  display: flex;
  margin-top: 30px;
  margin-left: 10px;
  margin-right: 10px;
  flex-wrap: wrap;
  overflow-x: auto;
}

/* FIN SECTION BOMBOS */
/* INICIO SECTION TITULO GRUPOS */
.tituloGrupos {
  margin-top: 50px;
}
.tituloGrupos h2 {
  margin-left: 10px;
  color: black;
}

/* FIN SECTION TITULO GRUPOS */
/* INICIO SECTION PARTIDOS */
.partidos {
  display: flex;
  margin-top: 50px;
  margin-left: 10px;
  margin-right: 10px;
  margin-right: auto;
  flex-wrap: wrap;
  overflow-x: auto;
  color: black;
}

.grupos {
  margin-top: 20px;
  margin-left: 10px;
}

/* FIN SECTION PARTIDOS */
/* INICIO SECTION CRONOGRAMA */
.cronogramaContainer {
  margin-top: 50px;
  display: flex;
  width: auto;
  margin-left: 40px;
  margin-right: 40px;
}
.cronogramaContainer .cronogramaItems {
  display: flex;
  width: auto;
}
.cronogramaContainer .cronogramaItems img {
  display: flex;
  width: 100%;
  border: 2px solid black;
}

/* FIN SECTION CRONOGRAMA */
@media (min-width: 768px) {
  /* INICIO SECTION ENCABEZADOS CALENDARIO */
  .encabezadosCalendario h2 {
    margin-left: 20px;
  }

  /* FIN SECTION ENCABEZADOS CALENDARIO */
  /* INICIO SECTION BOMBOS */
  .bombos {
    display: flex;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: auto;
    flex-wrap: wrap;
    overflow-x: auto;
  }

  /* FIN SECTION BOMBOS */
  /* INICIO SECTION TITULO GRUPOS */
  .tituloGrupos h2 {
    margin-left: 20px;
  }

  /* FIN SECTION TITULO GRUPOS */
  /* INICIO SECTION PARTIDOS */
  .partidos {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: auto;
    flex-wrap: wrap;
    overflow-x: auto;
  }

  .grupos {
    margin-top: 20px;
    margin-left: 0px;
  }

  /* FIN SECTION PARTIDOS */
}
@media (min-width: 992px) {
  /* INICIO SECTION TITULO CALENDARIO */
  .tituloCalendario {
    display: flex;
    flex-direction: column;
    width: 800px;
    height: auto;
    margin-left: 40px;
    margin-top: 50px;
    gap: 30px;
  }
  .tituloCalendario .titulo {
    font-size: 40px;
    font-weight: bold;
  }
  .tituloCalendario .titulo .imagenCalendario {
    display: flex;
  }
  .tituloCalendario .titulo .imagenCalendario img {
    width: 800px;
    height: 500px;
  }

  /* FIN SECTION TITULO CALENDARIO */
  /* INICIO SECTION ENCABEZADOS CALENDARIO */
  .encabezadosCalendario h2 {
    margin-left: 40px;
  }

  /* FIN SECTION ENCABEZADOS CALENDARIO */
  /* INICIO SECTION BOMBOS */
  .bombos {
    margin-left: 40px;
    margin-top: 50px;
    flex-direction: column;
  }

  /* FIN SECTION BOMBOS */
  /* INICIO SECTION TITULO GRUPOS */
  .tituloGrupos {
    margin-top: 50px;
  }
  .tituloGrupos h2 {
    margin-left: 40px;
  }

  /* FIN SECTION TITULO GRUPOS */
  /* INICIO SECTION PARTIDOS */
  .partidos {
    margin-left: 40px;
    margin-top: 50px;
    flex-direction: column;
  }

  .grupos {
    margin-top: 20px;
  }

  /* FIN SECTION PARTIDOS */
  .cronogramaContainer {
    justify-content: center;
  }
}
.tituloHistoria {
  text-align: center;
  width: 100%;
  font-size: 30px;
  font-weight: bold;
  background-color: lightblue;
}

.creacion {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  margin-left: 10px;
  margin-right: 10px;
}
.creacion h2 {
  font-size: 30px;
  font-weight: bold;
  color: black;
  margin-bottom: 20px;
}
.creacion p {
  display: flex;
  font-size: 15px;
  line-height: 25px;
  font-size: 15px;
  max-width: 1100px;
}
.creacion div {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: auto;
}
.creacion div div {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.creacion div div img {
  width: 100%;
  height: 100%;
}

.repercusion {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  margin-left: 10px;
  margin-right: 10px;
}
.repercusion h2 {
  font-size: 30px;
  font-weight: bold;
  color: black;
  margin-bottom: 20px;
}
.repercusion p {
  display: flex;
  font-size: 15px;
  line-height: 25px;
  font-size: 15px;
  max-width: 1100px;
}
.repercusion div {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: auto;
}
.repercusion div div {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.repercusion div div img {
  width: 100%;
  height: 100%;
}

.curiosidades {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  margin-left: 10px;
  margin-right: 10px;
}
.curiosidades h2 {
  font-size: 30px;
  font-weight: bold;
  color: black;
  margin-bottom: 20px;
}
.curiosidades p {
  display: flex;
  font-size: 15px;
  line-height: 25px;
  font-size: 15px;
  max-width: 1100px;
}
.curiosidades div {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: auto;
}
.curiosidades div div {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.curiosidades div div img {
  width: 100%;
  height: 100%;
}
.curiosidades ul li {
  font-size: 15px;
}

@media (min-width: 768px) {
  .creacion {
    margin-left: 40px;
    margin-right: 40px;
  }
  .creacion .imagenesDatos {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    gap: 30px;
  }
  .creacion .imagenesDatos .img_datos {
    display: flex;
    flex-direction: row;
  }

  .repercusion {
    margin-left: 40px;
    margin-right: 40px;
  }
  .repercusion .imagenesDatos {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    gap: 30px;
  }
  .repercusion .imagenesDatos .img_datos {
    display: flex;
    flex-direction: row;
  }

  .curiosidades {
    margin-left: 40px;
    margin-right: 40px;
  }
  .curiosidades div {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    gap: 30px;
  }
  .curiosidades div div {
    display: flex;
    flex-direction: row;
  }
}
@media (min-width: 992px) {
  .creacion {
    margin-left: 40px;
    margin-right: 40px;
  }
  .creacion h2 {
    font-size: 60px;
  }
  .creacion p {
    font-size: 20px;
    line-height: 40px;
  }
  .creacion .imagenesDatos {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    gap: 30px;
  }
  .creacion .imagenesDatos .img_datos {
    display: flex;
    flex-direction: row;
  }

  .repercusion {
    margin-left: 40px;
    margin-right: 40px;
  }
  .repercusion h2 {
    font-size: 60px;
  }
  .repercusion p {
    font-size: 20px;
    line-height: 40px;
  }
  .repercusion .imagenesDatos {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    gap: 30px;
  }
  .repercusion .imagenesDatos .img_datos {
    display: flex;
    flex-direction: row;
  }

  .curiosidades {
    margin-left: 40px;
    margin-right: 40px;
  }
  .curiosidades h2 {
    font-size: 60px;
  }
  .curiosidades p {
    font-size: 20px;
    line-height: 40px;
  }
  .curiosidades ul li {
    font-size: 20px;
  }
  .curiosidades div {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    gap: 30px;
  }
  .curiosidades div div {
    display: flex;
    flex-direction: row;
  }
}
/* INICIO SECTION CABEZADOS INFRAESTRUCTURA */
#encabezadosInfraestructura {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  background-image: url(../img/soccer-football-field-stadium.jpg);
  background-position-x: left;
  background-position-y: 15%;
  background-size: cover;
  background-repeat: no-repeat;
}
#encabezadosInfraestructura #encabezados {
  display: flex;
  flex-direction: column;
  color: rgb(255, 255, 255);
  gap: 10px;
  font-weight: bold;
}
#encabezadosInfraestructura #encabezados h1 {
  font-size: 3rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 10rem;
}
#encabezadosInfraestructura #encabezados h2 {
  font-size: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 2rem;
}

/* FIN SECTION CABEZADOS INFRAESTRUCTURA */
/* INICIO SECTION TEXTO UNO INFRAESTRUCTURA */
#textoUnoInfraestructura {
  display: flex;
  flex-direction: row;
  margin: 5rem 1rem;
  font-size: 1.7rem;
  line-height: 3rem;
  color: rgb(45, 44, 44);
  max-width: 650px;
}
#textoUnoInfraestructura #textoUno {
  display: flex;
  flex-direction: column;
}

/* FIN SECTION TEXTO UNO INFRAESTRUCTURA */
/* INICIO SECTION LISTADO ESTADIOS */
#listadoEstadiosContainer {
  display: flex;
  flex-direction: row;
  margin-left: 1rem;
  margin-right: 1rem;
  max-width: 650px;
}
#listadoEstadiosContainer .listadoEstadios {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 7rem;
}
#listadoEstadiosContainer .listadoEstadios li {
  text-align: left;
  color: black;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  list-style-type: none;
}
#listadoEstadiosContainer .listadoEstadios li .nombreEstadios {
  font-size: 3rem;
  font-weight: 400;
}
#listadoEstadiosContainer .listadoEstadios li div {
  display: flex;
  flex-direction: row;
  width: 100%;
}
#listadoEstadiosContainer .listadoEstadios li div img {
  width: 100%;
  height: 100%;
  border: 0.5rem ridge #AB374C;
  margin: 0.5rem 0;
}
#listadoEstadiosContainer .listadoEstadios li .parrafosImagenes {
  display: flex;
  font-size: 15px;
  line-height: 3rem;
  max-width: 600px;
  font-family: "Rubik";
  font-weight: 600;
}

/* FIN SECTION LISTADO ESTADIOS */
/* INICIO TEXTO DOS INFRAESTRUCTURA */
#textoDosInfraestructura {
  display: flex;
  flex-direction: row;
  font-size: 1.7rem;
  line-height: 3rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 5rem;
  color: rgb(45, 44, 44);
  max-width: 650px;
}
#textoDosInfraestructura #textoDos {
  display: flex;
  flex-direction: column;
}

/* FIN TEXTO DOS INFRAESTRUCTURA */
/* INICIO SECTION DATOS QATAR */
#datosQatar {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-left: 1rem;
  margin-right: 1rem;
}
#datosQatar h3 {
  font-size: 3rem;
}
#datosQatar #datos {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  gap: 2rem;
}
#datosQatar #datos .listaQatar {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-left: 10px;
  margin-right: 10px;
}

@media (min-width: 768px) {
  #encabezadosInfraestructura #encabezados h1 {
    margin-left: 50px;
    margin-right: 50px;
  }
  #encabezadosInfraestructura #encabezados h2 {
    margin-left: 50px;
    margin-right: 50px;
  }

  #textoUnoInfraestructura {
    margin-left: 50px;
    margin-right: 50px;
    font-size: 2rem;
    line-height: 4rem;
  }

  #listadoEstadiosContainer {
    margin-left: 50px;
    margin-right: 50px;
  }
  #listadoEstadiosContainer #listadoEstadios li .nombreEstadios {
    font-size: 2rem;
  }
  #listadoEstadiosContainer #listadoEstadios li .parrafosImagenes {
    font-size: 60px;
  }

  #textoDosInfraestructura {
    margin-left: 50px;
    margin-right: 50px;
    font-size: 2rem;
    line-height: 4rem;
  }

  #datosQatar {
    margin-left: 50px;
    margin-right: 50px;
  }
}
.records {
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 30px;
  font-weight: bold;
  background-color: lightblue;
}

#grillaDatos {
  display: grid;
  width: 100%;
  margin-top: 50px;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(9, 1fr);
  row-gap: 80px;
  align-items: flex-start;
  justify-items: center;
}
#grillaDatos div {
  display: flex;
  flex-direction: column;
  width: auto;
  margin: 0 10px;
}
#grillaDatos div img {
  width: 100%;
  -o-border-image: fill;
     border-image: fill;
}
#grillaDatos div .pieFotos {
  background-color: #bb5265;
  margin: 0;
}
#grillaDatos div .pieFotos .pie-titulo {
  margin: 2px;
  font-size: 20px;
  font-family: "Merriweather";
  color: white;
}
#grillaDatos div .pieFotos .pie-subtitulo {
  margin-top: 0;
  font-size: 13px;
  font-family: "Merriweather";
  color: white;
}
#grillaDatos div .pieFotos p {
  color: white;
  margin: 2px;
}

.formulario {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
}
.formulario p {
  font-size: 25px;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  border: 2px solid black;
  background-color: lightgray;
  font-size: 15px;
}
form .form-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px;
}
form .form-container .form-items {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
}
form .margin-form {
  margin: 10px;
}

@media (min-width: 768px) {
  #grillaDatos {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    margin: inherit 10px;
    justify-items: center;
  }

  .formulario {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
  }
  .formulario p {
    font-size: 25px;
  }

  form {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    height: auto;
    border: 2px solid black;
    background-color: lightgray;
    font-size: 15px;
  }
  form .form-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px;
  }
  form .form-container .form-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
  }
}
@media (min-width: 992px) {
  #grillaDatos {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin: inherit 30px;
    justify-items: center;
  }

  .formulario {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin-right: 10px;
  }
  .formulario p {
    font-size: 25px;
  }
}
.banderasContainer {
  display: none;
}

.sponsors {
  display: none;
}

.carrusel {
  margin-top: 100px;
  margin-left: 5px;
  margin-bottom: 100px;
  margin-right: 5px;
}
.carrusel h2 {
  color: black;
  font-size: 35px;
}

.noticias {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  justify-content: center;
  width: auto;
  align-items: center;
}
.noticias .noticiasItems {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 20px;
  justify-content: center;
  width: auto;
}
.noticias .noticiasItems h2 {
  font-size: 40px;
  color: black;
}
.noticias .noticiasItems #grilla {
  display: grid;
  height: auto;
  width: 100%;
  margin-top: 30px;
  align-items: center;
  grid-template-columns: auto;
  grid-template-rows: repeat(9, auto);
  row-gap: 30px;
}
.noticias .noticiasItems #grilla .grillaItems img {
  width: 100%;
  height: 100%;
}
.noticias .noticiasItems #grilla .grillaItems p {
  background-color: black;
  color: white;
  text-align: center;
  margin-bottom: 0;
  font-size: 15px;
}

.carrusel2 {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 100px;
}
.carrusel2 h2 {
  font-size: 30px;
  color: black;
}

.texto-argentina {
  width: 100%;
  height: auto;
  background-color: black;
}
.texto-argentina p {
  width: auto;
  height: auto;
  font-size: 14px;
  text-align: center;
  margin-left: 10px;
  color: white;
}

@media (min-width: 768px) {
  /* INICIO DIV BANDERAS */
  .banderasContainer {
    display: flex;
    flex-direction: row;
    background-color: lightyellow;
    height: 100px;
    margin-top: 50px;
  }

  /* FIN DIV BANDERAS */
  .carrusel {
    margin-top: 100px;
    margin-left: 20px;
    margin-bottom: 100px;
    margin-right: 20px;
  }

  .carousel-caption h5, .d-md-block h5 {
    font-size: 35px;
  }
  .carousel-caption p, .d-md-block p {
    font-size: 20px;
  }

  .noticias {
    text-align: center;
    margin-top: 100px;
    align-items: center;
  }
  .noticias .noticiasItems h2 {
    font-size: 80px;
  }
  .noticias .noticiasItems #grilla {
    display: grid;
    height: auto;
    width: 100%;
    margin-top: 30px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    row-gap: 30px;
    -moz-column-gap: 100px;
         column-gap: 100px;
    /* FIN SECTION NOTICIAS */
  }
  .noticias .noticiasItems #grilla .grillaItems {
    width: 300px;
  }
  .noticias .noticiasItems #grilla .grillaItems img {
    width: 300px;
    height: 200px;
  }
  .noticias .noticiasItems #grilla .grillaItems p {
    width: 300px;
  }

  .texto-argentina p {
    width: auto;
    height: auto;
    font-size: 18px;
    text-align: left;
    margin-left: 10px;
    color: white;
  }
}
@media (min-width: 992px) {
  .noticias {
    text-align: start;
    align-items: flex-start;
    margin-left: 40px;
  }
  .noticias .noticiasItems #grilla {
    grid-template-areas: "div div div" "div div div" "div div div";
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
  }
  .noticias .noticiasItems #grilla div:hover {
    transform: scale(1.2);
    transition: all 2s;
    cursor: pointer;
    cursor: hand;
  }

  .sponsors {
    display: flex;
    flex-direction: row;
    background-color: rgb(255, 255, 255);
    height: 125px;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }
  .sponsors .sponsorsItems {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .sponsors .sponsorsItems .imgSponsor {
    align-items: center;
    width: 145px;
    height: 100px;
  }
  .sponsors .sponsorsItems img {
    width: 145px;
    height: 100px;
    align-items: center;
  }
  .sponsors .sponsorsItems .imgSponsorVisa img {
    width: 145px;
    height: 70px;
  }

  .carrusel2 {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-left: 50px;
    margin-right: 500px;
    margin-top: 100px;
  }
  .carrusel2 h2 {
    font-size: 50px;
  }

  .texto-argentina p {
    width: auto;
    height: auto;
    font-size: 22px;
    text-align: left;
    margin-left: 10px;
    color: white;
  }
}/*# sourceMappingURL=style.css.map */