@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Rubik:wght@300&display=swap");
/* ESTILOS GENERALES */
* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #ffffff;
}

.ancho {
  max-width: 1100px;
}

.anchoItems {
  width: 3px;
}

.anchoItems2 {
  width: 50px;
}

.ancho1 {
  width: 80px;
}

.ancho2 {
  width: 120px;
}

.ancho3 {
  width: 150px;
}

.ancho4 {
  width: 110px;
}

.ancho5 {
  width: 240px;
}

.ancho6 {
  width: 100px;
}

.ancho7 {
  width: 200px;
}

.ancho8 {
  width: 180px;
}

.carrusel {
  margin-top: 100px;
  margin-left: 20px;
  margin-bottom: 100px;
  margin-right: 20px;
}

.carrusel h2 {
  color: black;
  font-size: 35px;
}

/* Mapas */
.btn--twitter {
  background-color: #55aCee;
  width: 80px;
}

.btn--facebook {
  background-color: #3a5795;
  width: 80px;
}

.btn--instagram {
  background-color: #C25E30;
  width: 80px;
}

/* Extend */
.parrafos, .parrafo3, .parrafo2, .parrafo1 {
  border: 3px solid black;
  border-radius: 20px;
  text-align: center;
}

.parrafo1 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: gold;
  margin-top: 40px;
}

.parrafo2 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: blue;
  color: white;
}

.parrafo3 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: gold;
}

/* Mixin */
.my_mixin {
  height: 100px;
  width: 500px;
  background-color: greenyellow;
  align-items: center;
  text-align: center;
  border: 10px solid black;
  margin: 20px auto 0 auto;
  display: flex;
  justify-content: center;
  width: auto;
}
.my_mixin .datosP {
  display: flex;
  align-items: center;
  margin-bottom: 0;
}

/* INICIO NAV */
.logo {
  border-radius: 30%;
  height: 70px;
  width: 70px;
}

.navContainer {
  font-size: 20px;
  gap: 50px;
  background-color: #AB374C;
}

.navbar-light .navbar-nav .nav-link.active {
  color: white;
  font-weight: bold;
}

.navGap {
  gap: 15px;
}

/* FIN NAV */
@media (min-width: 992px) {
  /* NAV */
  .link1:hover,
.link2:hover,
.link3:hover,
.link4:hover,
.link5:hover {
    background-color: #d35f75;
    border-radius: 5%;
  }

  .navGap {
    gap: 40px;
  }

  /* NAV */
}
/* INICIO FOOTER */
.footerContainer {
  display: flex;
  flex-direction: row;
  background-color: #AB374C;
  height: 170px;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  border-top: 2px solid black;
}
.footerContainer .footerItems {
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.footerContainer .footerItems .copyright {
  align-items: center;
  color: black;
}
.footerContainer .footerItems .redes {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

/* FIN FOOTER */
@media (min-width: 768px) {
  /* INICIO FOOTER */
  .footerContainer .footerItems {
    font-size: 15px;
  }
  .footerContainer .footerItems .redes {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
  }

  /* FIN FOOTER */
}
.sponsors {
  display: none;
}

@media (min-width: 992px) {
  .sponsors {
    display: flex;
    flex-direction: row;
    background-color: rgb(255, 255, 255);
    height: 125px;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }

  .sponsorsItems {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .imgSponsor {
    align-items: center;
    width: 145px;
    height: 100px;
  }

  .imgSponsor img {
    width: 145px;
    height: 100px;
    align-items: center;
  }

  .imgSponsorVisa img {
    width: 145px;
    height: 70px;
  }
}
.banderasContainer {
  display: none;
}

@media (min-width: 768px) {
  /* INICIO DIV BANDERAS */
  .banderasContainer {
    display: flex;
    flex-direction: row;
    background-color: lightyellow;
    height: 100px;
    margin-top: 50px;
  }

  /* FIN DIV BANDERAS */
}
/* INICIO SECTION TITULO CALENDARIO */
.tituloCalendario {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 50px;
  gap: 30px;
}
.tituloCalendario .titulo {
  font-size: 30px;
  font-weight: bold;
  color: black;
}
.tituloCalendario .imagenCalendario {
  display: flex;
  width: auto;
}
.tituloCalendario .imagenCalendario img {
  width: 100%;
  height: auto;
  border: 2px solid white;
}

/* INICIO SECTION ENCABEZADOS CALENDARIO */
.encabezadosCalendario {
  margin-top: 50px;
}
.encabezadosCalendario h2 {
  margin-left: 10px;
  color: black;
}

/* FIN SECTION ENCABEZADOS CALENDARIO */
/* INICIO SECTION BOMBOS */
.bombos {
  display: flex;
  margin-top: 30px;
  margin-left: 10px;
  margin-right: 10px;
  flex-wrap: wrap;
  overflow-x: auto;
}

/* FIN SECTION BOMBOS */
/* INICIO SECTION TITULO GRUPOS */
.tituloGrupos {
  margin-top: 50px;
}
.tituloGrupos h2 {
  margin-left: 10px;
  color: black;
}

/* FIN SECTION TITULO GRUPOS */
/* INICIO SECTION PARTIDOS */
.partidos {
  display: flex;
  margin-top: 50px;
  margin-left: 10px;
  margin-right: 10px;
  margin-right: auto;
  flex-wrap: wrap;
  overflow-x: auto;
  color: black;
}

.grupos {
  margin-top: 20px;
  margin-left: 10px;
}

/* FIN SECTION PARTIDOS */
/* INICIO SECTION CRONOGRAMA */
.cronogramaContainer {
  margin-top: 50px;
  display: flex;
  width: auto;
  margin-left: 40px;
  margin-right: 40px;
}
.cronogramaContainer .cronogramaItems {
  display: flex;
  width: auto;
}
.cronogramaContainer .cronogramaItems img {
  display: flex;
  width: 100%;
  border: 2px solid black;
}

/* FIN SECTION CRONOGRAMA */
@media (min-width: 768px) {
  /* INICIO SECTION ENCABEZADOS CALENDARIO */
  .encabezadosCalendario h2 {
    margin-left: 20px;
  }

  /* FIN SECTION ENCABEZADOS CALENDARIO */
  /* INICIO SECTION BOMBOS */
  .bombos {
    display: flex;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: auto;
    flex-wrap: wrap;
    overflow-x: auto;
  }

  /* FIN SECTION BOMBOS */
  /* INICIO SECTION TITULO GRUPOS */
  .tituloGrupos h2 {
    margin-left: 20px;
  }

  /* FIN SECTION TITULO GRUPOS */
  /* INICIO SECTION PARTIDOS */
  .partidos {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: auto;
    flex-wrap: wrap;
    overflow-x: auto;
  }

  .grupos {
    margin-top: 20px;
    margin-left: 0px;
  }

  /* FIN SECTION PARTIDOS */
}
@media (min-width: 992px) {
  /* INICIO SECTION TITULO CALENDARIO */
  .tituloCalendario {
    display: flex;
    flex-direction: column;
    width: 800px;
    height: auto;
    margin-left: 40px;
    margin-top: 50px;
    gap: 30px;
  }
  .tituloCalendario .titulo {
    font-size: 40px;
    font-weight: bold;
  }
  .tituloCalendario .titulo .imagenCalendario {
    display: flex;
  }
  .tituloCalendario .titulo .imagenCalendario img {
    width: 800px;
    height: 500px;
  }

  /* FIN SECTION TITULO CALENDARIO */
  /* INICIO SECTION ENCABEZADOS CALENDARIO */
  .encabezadosCalendario h2 {
    margin-left: 40px;
  }

  /* FIN SECTION ENCABEZADOS CALENDARIO */
  /* INICIO SECTION BOMBOS */
  .bombos {
    margin-left: 40px;
    margin-top: 50px;
    flex-direction: column;
  }

  /* FIN SECTION BOMBOS */
  /* INICIO SECTION TITULO GRUPOS */
  .tituloGrupos {
    margin-top: 50px;
  }
  .tituloGrupos h2 {
    margin-left: 40px;
  }

  /* FIN SECTION TITULO GRUPOS */
  /* INICIO SECTION PARTIDOS */
  .partidos {
    margin-left: 40px;
    margin-top: 50px;
    flex-direction: column;
  }

  .grupos {
    margin-top: 20px;
  }

  /* FIN SECTION PARTIDOS */
  .cronogramaContainer {
    justify-content: center;
  }
}
/* DECLARAR AREAS */
div#noticias {
  grid-area: noticias;
}

/* INICIO SECTION NOTICIAS */
/* GRILLA */
#grilla {
  display: grid;
  height: 100%;
  width: 100%;
  margin-top: 30px;
  align-items: center;
  grid-template-areas: "noticias" "noticias" "noticias" "noticias" "noticias" "noticias" "noticias" "noticias" "noticias";
  grid-template-columns: 1fr;
  grid-template-rows: 210px 210px 210px 210px 210px 210px 210px 210px 210px;
  gap: 20px;
}

/* FIN SECTION NOTICIAS */
.noticias {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  justify-content: center;
}

.noticiasItems {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  justify-content: center;
}
.noticiasItems h2 {
  font-size: 40px;
  color: black;
}

/* FIN SECTION NOTICIAS */
@media (min-width: 768px) {
  /* INICIO SECTION NOTICIAS */
  /* GRILLA */
  #grilla {
    display: grid;
    height: 100%;
    width: 700px;
    margin-top: 30px;
    align-items: center;
    grid-template-areas: "noticias noticias noticias" "noticias noticias noticias" "noticias noticias noticias";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 210px 210px 210px;
    gap: 20px;
    /* FIN SECTION NOTICIAS */
  }

  .noticias {
    margin-top: 100px;
    margin-left: 30px;
  }

  .noticiasItems h2 {
    font-size: 80px;
  }
}
.tituloHistoria {
  text-align: center;
  width: 100%;
  font-size: 30px;
  font-weight: bold;
  background-color: lightblue;
}

.creacion {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  margin-left: 10px;
  margin-right: 10px;
}
.creacion h2 {
  font-size: 30px;
  font-weight: bold;
  color: black;
  margin-bottom: 20px;
}
.creacion p {
  display: flex;
  font-size: 15px;
  line-height: 25px;
  font-size: 15px;
  max-width: 1100px;
}
.creacion div {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: auto;
}
.creacion div div {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.creacion div div img {
  width: 100%;
  height: 100%;
}

.repercusion {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  margin-left: 10px;
  margin-right: 10px;
}
.repercusion h2 {
  font-size: 30px;
  font-weight: bold;
  color: black;
  margin-bottom: 20px;
}
.repercusion p {
  display: flex;
  font-size: 15px;
  line-height: 25px;
  font-size: 15px;
  max-width: 1100px;
}
.repercusion div {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: auto;
}
.repercusion div div {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.repercusion div div img {
  width: 100%;
  height: 100%;
}

.curiosidades {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  margin-left: 10px;
  margin-right: 10px;
}
.curiosidades h2 {
  font-size: 30px;
  font-weight: bold;
  color: black;
  margin-bottom: 20px;
}
.curiosidades p {
  display: flex;
  font-size: 15px;
  line-height: 25px;
  font-size: 15px;
  max-width: 1100px;
}
.curiosidades div {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: auto;
}
.curiosidades div div {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.curiosidades div div img {
  width: 100%;
  height: 100%;
}
.curiosidades ul li {
  font-size: 15px;
}

@media (min-width: 768px) {
  .creacion {
    margin-left: 40px;
    margin-right: 40px;
  }
  .creacion .imagenesDatos {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    gap: 30px;
  }
  .creacion .imagenesDatos .img_datos {
    display: flex;
    flex-direction: row;
  }

  .repercusion {
    margin-left: 40px;
    margin-right: 40px;
  }
  .repercusion .imagenesDatos {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    gap: 30px;
  }
  .repercusion .imagenesDatos .img_datos {
    display: flex;
    flex-direction: row;
  }

  .curiosidades {
    margin-left: 40px;
    margin-right: 40px;
  }
  .curiosidades div {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    gap: 30px;
  }
  .curiosidades div div {
    display: flex;
    flex-direction: row;
  }
}
/* INICIO SECTION CABEZADOS INFRAESTRUCTURA */
#encabezadosInfraestructura {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  background-image: url(../img/soccer-football-field-stadium.jpg);
  background-position-x: left;
  background-position-y: 15%;
  background-size: cover;
  background-repeat: no-repeat;
}
#encabezadosInfraestructura #encabezados {
  display: flex;
  flex-direction: column;
  color: rgb(255, 255, 255);
  gap: 10px;
  font-weight: bold;
  text-shadow: 2px 2px 2px 2px;
}
#encabezadosInfraestructura #encabezados h1 {
  font-size: 3rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 10rem;
}
#encabezadosInfraestructura #encabezados h2 {
  font-size: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 2rem;
}

/* FIN SECTION CABEZADOS INFRAESTRUCTURA */
/* INICIO SECTION TEXTO UNO INFRAESTRUCTURA */
#textoUnoInfraestructura {
  display: flex;
  flex-direction: row;
  margin: 5rem 1rem;
  font-size: 1.7rem;
  line-height: 3rem;
  color: rgb(45, 44, 44);
  width: auto;
  flex-wrap: wrap;
}
#textoUnoInfraestructura #textoUno {
  display: flex;
  flex-direction: column;
}

/* FIN SECTION TEXTO UNO INFRAESTRUCTURA */
/* INICIO SECTION LISTADO ESTADIOS */
#listadoEstadiosContainer {
  display: flex;
  flex-direction: row;
  margin-left: 1rem;
  margin-right: 1rem;
  width: auto;
}
#listadoEstadiosContainer .listadoEstadios {
  display: flex;
  flex-direction: column;
  width: auto;
  gap: 7rem;
}
#listadoEstadiosContainer .listadoEstadios li {
  text-align: left;
  font-size: 2rem;
  color: black;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  list-style-type: none;
}
#listadoEstadiosContainer .listadoEstadios li img {
  display: flex;
  width: 100%;
  border: 0.5rem ridge white;
  margin: 0.5rem 0;
}
#listadoEstadiosContainer .listadoEstadios li .parrafosImagenes {
  width: auto;
  margin-top: 1rem;
}

/* FIN SECTION LISTADO ESTADIOS */
/* INICIO TEXTO DOS INFRAESTRUCTURA */
#textoDosInfraestructura {
  display: flex;
  flex-direction: row;
  font-size: 1.7rem;
  line-height: 3rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 5rem;
  color: rgb(45, 44, 44);
  width: auto;
}
#textoDosInfraestructura #textoDos {
  display: flex;
  flex-direction: column;
}

/* FIN TEXTO DOS INFRAESTRUCTURA */
/* INICIO SECTION DATOS QATAR */
#datosQatar {
  display: none;
}

@media (min-width: 768px) {
  /* INICIO SECTION CABEZADOS INFRAESTRUCTURA */
  #encabezadosInfraestructura #encabezados .encabezadoEstadiosUno {
    font-size: 4rem;
  }
  #encabezadosInfraestructura #encabezados .encabezadoEstadiosDos {
    font-size: 3rem;
  }

  /* FIN SECTION CABEZADOS INFRAESTRUCTURA */
  /* INICIO SECTION TEXTO UNO INFRAESTRUCTURA */
  #textoUnoInfraestructura {
    display: flex;
    flex-direction: row;
    margin-left: 2rem;
    font-size: 2rem;
    line-height: 3rem;
    color: rgb(54, 54, 54);
    width: 650px;
  }

  /* FIN SECTION TEXTO UNO INFRAESTRUCTURA */
  /* INICIO PROPIEDADES IMAGENES LISTAS DESORDENADAS INFRAESTRUCTURA */
  .img {
    max-width: 85rem;
    max-height: 40rem;
    width: 100%;
    height: 100%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border: 0.5rem ridge rgb(87, 87, 240);
  }

  /* FIN PROPIEDADES IMAGENES LISTAS DESORDENADAS INFRAESTRUCTURA */
  /* TEXTOS DE LAS IMAGENES INFRAESTRUCTURAS */
  .parrafosImagenes {
    width: 75rem;
  }

  /* FIN SECTION LISTADO ESTADIOS */
  /* INICIO SECTION DATOS QATAR */
  #datosQatar {
    display: flex;
    flex-direction: column;
    font-size: 3rem;
    gap: 3rem;
    margin-left: 2rem;
  }

  #datos {
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    gap: 2rem;
  }

  .listaQatar {
    display: flex;
    flex-direction: column;
    margin-left: 3rem;
    gap: 3rem;
  }

  /* INICIO TEXTO TRES INFRAESTRUCTURA */
  #textoTresInfraestructura {
    display: flex;
    flex-direction: row;
    font-size: 2rem;
    line-height: 3rem;
    margin-left: 2rem;
    color: rgb(54, 54, 54);
    width: 370px;
  }

  /* FIN TEXTO TRES INFRAESTRUCTURA */
}
@media (min-width: 992px) {
  /* INICIO SECTION CABEZADOS INFRAESTRUCTURA */
  #encabezadosInfraestructura {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  #encabezados {
    display: flex;
    flex-direction: column;
  }

  /* h1 INFRAESTRUCTURA */
  .encabezadoEstadiosUno {
    font-size: 4rem;
  }

  /* h2 INFRAESTRUCTURA */
  .encabezadoEstadiosDos {
    font-size: 3rem;
  }

  /* FIN SECTION CABEZADOS INFRAESTRUCTURA */
  /* INICIO SECTION TEXTO UNO INFRAESTRUCTURA */
  #textoUnoInfraestructura {
    display: flex;
    flex-direction: row;
    margin-left: 2rem;
    font-size: 2rem;
    line-height: 3rem;
    color: rgb(54, 54, 54);
    width: 80rem;
  }

  #textoUno {
    display: flex;
    flex-direction: column;
  }

  /* FIN SECTION TEXTO UNO INFRAESTRUCTURA */
  /* INICIO SECTION LISTADO ESTADIOS */
  #listadoEstadiosContainer {
    display: flex;
    flex-direction: row;
    margin-left: 2rem;
  }

  .listadoEstadios {
    display: flex;
    flex-direction: column;
    gap: 7rem;
  }

  .listadoEstadios li {
    text-align: left;
    font-size: 3rem;
    color: black;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    list-style-type: none;
  }

  /* INICIO PROPIEDADES IMAGENES LISTAS DESORDENADAS INFRAESTRUCTURA */
  .estadios {
    max-width: 85rem;
    max-height: 40rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border: 0.5rem ridge rgb(87, 87, 240);
  }

  /* FIN PROPIEDADES IMAGENES LISTAS DESORDENADAS INFRAESTRUCTURA */
  /* TEXTOS DE LAS IMAGENES INFRAESTRUCTURAS */
  .parrafosImagenes {
    width: 75rem;
  }

  /* FIN SECTION LISTADO ESTADIOS */
  /* INICIO TEXTO DOS INFRAESTRUCTURA */
  #textoDosInfraestructura {
    display: flex;
    flex-direction: row;
    font-size: 2rem;
    line-height: 3rem;
    margin-left: 2rem;
    color: rgb(54, 54, 54);
    width: 80rem;
  }

  #textoDos {
    display: flex;
    flex-direction: column;
  }

  /* FIN TEXTO DOS INFRAESTRUCTURA */
  /* INICIO SECTION DATOS QATAR */
  #datosQatar {
    display: flex;
    flex-direction: column;
    font-size: 3rem;
    gap: 3rem;
    margin-left: 2rem;
  }

  #datos {
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    gap: 2rem;
  }

  .listaQatar {
    display: flex;
    flex-direction: column;
    margin-left: 3rem;
    gap: 3rem;
  }
}
.carrusel2 {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-left: 50px;
}
.carrusel2 h2 {
  font-size: 50px;
}

.carrusel-arg {
  width: 80%;
}

.texto-argentina {
  width: auto;
  height: 100px;
  background-color: black;
}

.contenedor {
  position: relative;
  display: inline-block;
  text-align: center;
}

.texto-argentina {
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;
}
.texto-argentina div {
  width: auto;
  font-size: 20px;
  text-align: left;
  margin-left: 10px;
  color: white;
}

#grillaDatos {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  row-gap: 60px;
  margin: 30px 0;
  align-items: center;
  justify-items: center;
}

.records {
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 30px;
  font-weight: bold;
  background-color: lightblue;
}

.formulario {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
}
.formulario p {
  font-size: 25px;
}

form {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: auto;
  border: 2px solid black;
  background-color: lightgray;
  font-size: 15px;
}
form .form-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px;
}
form .form-container .form-items {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
form .margin-form {
  margin: 10px;
}

.logoDatos {
  width: 40px;
  height: 40px;
}/*# sourceMappingURL=style.css.map */